html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -1%;
    margin-bottom: -1%;
    padding: 0;
 }

 webview {
    display: block;   /* iframes are inline by default */
    border: none;     /* Reset default border */
    height: 100vh;     /* Viewport-relative units */
    width: 100vw;
  }

.blurred-back {
    background-color: #eee;
}

.list-item {
    list-style-type: none;
    padding: .5rem 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    text-align: left!important;
}

ul {
    padding-left: 0;
}

.h-90 {
    height: 90%!important;
}

#importFiles, #postFiles {
    display: none;
}

.list-group, .list-group-item {
    background-color: #eee;
    text-align: left;
    border-left: none;
    border-right: none;
    border-radius: 0%;
}

.importCheckbox:checked {
    background-image: url('../img/checkbox.svg');
    stroke: 23fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.importCheckbox {
    border-radius: .25em;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
}

.form-select {
    background-image: url("../img/dropdown.svg") !important;
}